/* Global */

* {
  box-sizing: border-box;
}
.clear {
  clear: both;
}
html,
body {
  font-family: "Times New Roman", Times, serif;
}

/* header */
.header img {
  width: 250px;
}
.header ul {
  list-style: none;
  background-color: black;
  padding: 15px 0;
  margin: 5px 0 10px;
}
.header a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.header li {
  display: inline;
  margin: 0 10px;
}
.header a:hover {
  color: brown;
}
/* margin :khoang cach giua cac the voi nhau*/
/* padding:noi dung so voi the */

/* Carousel */
.carousel {
  background-image: url(../img/slider_1.jpg);
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* products */
.products {
  margin-bottom: 70px;
}
.products__item {
  float: left;
  width: 25%;
  padding: 0 20px;
  /* chi su dung cho padding ko dung cho pading*/
}
.products h2 {
  text-align: center;
  font-size: 30px;
}

.products__item button {
  background-color: red;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  border: 1px solid red;
  margin-top: 15px;
}
.products__item p {
  font-size: 17px;
}
.products__item h3 {
  font-size: 25px;
}
.products__item img {
  width: 100%;
}
/* intro */
.intro__text {
  font-size: 20px;
  margin: 20px 0 40px;
}
.intro__text span {
  color: red;
  font-weight: bold;
}

.intro__right,
.intro__left {
  width: 50%;
  float: left;
}

.intro__smailItem {
  width: 50%;
  float: left;
}

.intro__item img {
  width: 100%;
  display: block;
}
.intro__item {
  padding: 0 15px 25px;
}
/* banner */
.banner {
  background-image: url(../img/nature.jpg);
  height: 400px;
  background-size: cover;
  position: relative;
}
.banner__circle {
  width: 300px;
  height: 300px;
  background-color: rgba(131, 41, 39, 0.74);
  color: white;
  border-radius: 50%;
  text-align: center;
  /* opacity: 0.6; */
  position: absolute;
  top: 20px;
  left: 222px;
}
.banner__circle p {
  font-size: 20px;
  margin: 0 0 20px;
}
.banner__circle p:first-child {
  font-size: 30px;
  margin: 40px 0 5px;
}
.banner__circle p:nth-child(2) {
  font-size: 80px;
  margin: 0;
}
/* service */
.service {
  margin: 30px 0 10px;
}
.service__content {
  width: 70%;
  margin: auto;
  text-align: center;
  /* can giua */
}
.service__item {
  width: 33.33%;
  float: left;
  padding: 0 10px;
}
.service__item i {
  font-size: 40px;
  color: black;
}
.service__item h2 {
  margin: 10px 0;
}
.service__item p {
  margin: 0;
}
/* footer */
.footer {
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px 0;
}
.footer h2 p {
  margin: 0px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: brown;
}
